Repository d3george/slash-admin: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, check-types

lefthook.yml:

# SKIP CI in commit message to skip hooks
skip_output:
  - meta
  - success
  - summary

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: npx @biomejs/biome format --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx @biomejs/biome lint --no-errors-on-unmatched {staged_files}
    check-types:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}
      # 允许空提交信息
      skip: [merge, rebase]

feat: add ArcMap component
  package.json
  pnpm-lock.yaml
  src/components/arc-map/arcmap.tsx
  src/components/arc-map/index.css
  src/components/arc-map/index.ts
  src/pages/dashboard/analysis/index.tsx
Due: format, lint, check-types

feat: add heat-map demo
  src/components/arc-map/arc-map.tsx
  src/components/arc-map/arcmap.tsx
  src/components/arc-map/index.ts
  src/pages/dashboard/analysis/index.tsx
Due: format, lint, check-types

docs: update cursor rules
  .cursor/rules/ai-dev-tasks/create-prd.mdc
  .cursor/rules/ai-dev-tasks/generate-tasks.mdc
  .cursor/rules/ai-dev-tasks/process-task-list.mdc
  .cursor/rules/common/clean-code.mdc
  .cursor/rules/common/code-quality.mdc
  .cursor/rules/common/git-flow.mdc
  .cursor/rules/common/project-overview.mdc
  .cursor/rules/framework/react.mdc
  .cursor/rules/language/typescript.mdc
Due: none

fix(setting-button): 修复 ESC 退出全屏状态不同步
  src/layouts/components/setting-button.tsx
Due: format, lint, check-types

feat: 修改SearchBar的搜索功能
  src/layouts/components/search-bar.tsx
Due: format, lint, check-types

feat: 刷新页面，控制当前路由下展开对应的nav-list展开
  src/components/nav/vertical/nav-list.tsx
Due: format, lint, check-types

refactor: increase bottom margin between icon cards for better visual separation
  src/pages/components/icon/index.tsx
Due: format, lint, check-types

refactor: refactor logo and README.md
  .vscode/settings.json
  README.md
  README.zh-CN.md
  src/App.tsx
  src/assets/icons/ic-logo-badge.svg
  src/assets/icons/ic-logo-static.svg
  src/assets/icons/ic-logo.svg
  src/components/logo/index.tsx
Due: format, lint, check-types

fix(types): correct typo in ResultStatus in api and enum types
  src/_mock/handlers/_demo.ts
  src/_mock/handlers/_menu.ts
  src/_mock/handlers/_user.ts
  src/api/apiClient.ts
  src/types/api.ts
  src/types/enum.ts
Due: format, lint, check-types

fix: register account
  src/api/services/userService.ts
  src/pages/sys/login/register-form.tsx
Due: format, lint, check-types

fix: i18n
  .vscode/settings.json
  src/locales/lang/en_US/sys.json
  src/locales/lang/zh_CN/sys.json
Due: format

feat(i18n): internationalize login success toast in login-form
  src/pages/sys/login/login-form.tsx
Due: format, lint, check-types

refactor: back format
  .vscode/settings.json
Due: format

fix: css btn register
  src/pages/sys/login/register-form.tsx
Due: format, lint, check-types

fix: login account
  src/_mock/assets_backup.ts
  src/api/services/userService.ts
  src/pages/sys/login/login-form.tsx
  src/pages/sys/others/permission/index.tsx
Due: format, lint, check-types

chore: update extensions recommendations list
  .vscode/extensions.json
Due: format

feat: update vite glob import
  src/components/icon/register-icons.ts
Due: format, lint, check-types

chore: update format
  .env.example
Due: none

feat: load component on demand
  src/routes/sections/dashboard/backend.tsx
  src/routes/sections/dashboard/frontend.tsx
  src/routes/sections/dashboard/index.tsx
Due: format, lint, check-types

build: update biome to v2
  biome.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: format

style: kanban task sheet overflow auto
  src/ui/sheet.tsx
Due: format, lint, check-types

refactor: reading club demo
  index.html
  package.json
  pnpm-lock.yaml
  public/能力清单.docx
  src/App.tsx
  src/_mock/assets.ts
  src/_mock/assets_backup.ts
  src/assets/icons/ic-logo-jurong.svg
  src/assets/images/background/login-bg.png
  src/assets/images/background/login-bg2.png
  src/components/logo/index.tsx
  src/components/upload/upload.tsx
  src/global-config.ts
  src/layouts/dashboard/header.tsx
  src/layouts/dashboard/nav/nav-data/nav-data-frontend.tsx
  src/locales/i18n.ts
  src/locales/lang/zh_CN/sys.json
  src/main.tsx
  src/pages/dashboard/analysis/index.tsx
  src/pages/dashboard/workbench/index.tsx
  src/pages/sys/login/components/Orb.tsx
  src/pages/sys/login/index.tsx
  src/pages/sys/login/login-form.tsx
  src/pages/sys/others/blank.tsx
  src/pages/sys/others/calendar/calendar-event-form.tsx
  src/pages/sys/others/calendar/calendar-header.tsx
  src/pages/sys/others/calendar/event-utils.ts
  src/pages/sys/others/case/case-modal.tsx
  src/pages/sys/others/case/index.tsx
  src/pages/sys/others/kanban/banner-card.tsx
  src/pages/sys/others/kanban/index.tsx
  src/pages/sys/others/kanban/kanban-column.tsx
  src/pages/sys/others/kanban/kanban-task.tsx
  src/pages/sys/others/kanban/task-detail.tsx
  src/pages/sys/others/kanban/types.ts
  src/routes/sections/dashboard/frontend.tsx
  src/routes/sections/dashboard/index.tsx
  src/store/settingStore.ts
  src/types/entity.ts
Due: format, lint, check-types

feat: Temporarily disable authentication page
  src/layouts/dashboard/nav/nav-data/index.ts
  src/routes/sections/dashboard/index.tsx
Due: format, lint, check-types

fix(kanban): prevent drag errors after creating tasks by enforcing enum and id prefixes (#180)
  src/pages/sys/others/kanban/index.tsx
  src/pages/sys/others/kanban/types.ts
Due: format, lint, check-types

refresh workbench dashboard overview layout
  .snapshots/config.json
  .snapshots/readme.md
  .snapshots/sponsors.md
  src/pages/dashboard/workbench/index.tsx
Due: format, lint, check-types

fix(connections-tab): correct stats label and invalid className
  src/pages/management/user/profile/connections-tab.tsx
Due: format, lint, check-types

fix(animate): reset multi-item state when enabling text mode
  src/pages/components/animate/views/inview/container.tsx
  src/pages/components/animate/views/inview/index.tsx
  src/pages/components/animate/views/inview/toolbar.tsx
Due: format, lint, check-types

fix(calendar/styles): lower fc-list-day z-index to avoid dropdown overlap
  src/pages/sys/others/calendar/styles.ts
Due: format, lint, check-types
